body{
font-family: Raleway-Regular ;
}
#name
{
  font-family: Raleway-Regular;  
  font-size: 36px;
}
@font-face {
    font-family:Raleway-Regular ;
    src: url('../../public/Fonts/StyleScript-Regular.ttf');
}
  .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/Mountains.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .image-container {
    flex: 0 0 400px; 
    padding: 20px;
  }
  
  .image-container img {
    border-radius: 50%;
    width: 100%;
    height: auto;
  }
  
  .cloud-container {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;
    margin: 20px;
    width: 700px;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
  }
  
  .cloud-container::before {
    font-size: 100px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .content-container {
    flex: 1; 
    padding: 40px;
    max-width: 100%; 
  }
  
  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .call-to-action {
    font-size: 18px;
    color: #007bff;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .image-container,
    .cloud-container,
    .content-container {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  